// COLORS

$primary: #ff0336;
$info: #f6e7d8;

$position-values: (
  0: 0,
  15: 15%,
  20: 20%,
  25: 25%,
  35: 35%,
  50: 50%,
  65: 65%,
  75: 75%,
  90: 90%,
  100: 100%,
);
// CSS

// PER IL FOOTER A BORDO PAGINA, AGIGUNGERE ANCHE FLEX-GROW-1 AL MAIN
html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@font-face {
  // font-family: 'Montserrat';
  // src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
}

.formGrap {
  background-color: rgb(19, 18, 18);
  box-shadow: 1px 0px 8px 5px #545453;
}

hr {
  height: 40px;
  color: black;
}
.pageBody {
  background-color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.navBack {
  background-color: #1e1e1e;
}

.footer-icon {
  color: #838383;
}

.footer-links {
  font-size: 0.8em;
}

.footer-links p {
  margin-bottom: 0.3em;
  color: #838383;
}

.footer-links a {
  color: #838383;
  text-decoration: none;
}

.copyright {
  color: #838383;
  font-size: 0.8em;
}

footer {
  background-color: #1e1e1e;
}

.spanbutton {
  color: #838383;
}

#footerbutton {
  border-color: #838383;
}

.customButton::hover {
  background-color: black;
  color: white;
}

.prova {
  background-image: url('../assets/bft-2.webp');
  object-fit: contain;
  background-repeat: no-repeat;
}

.trainers {
  background-image: url('../assets/trainer-bg.d8a91ceec330444b6dfd.png');
  position: relative;
  background-repeat: no-repeat;
  background-size: 97%;
}

.underTrainers {
  background-color: #f8f8f8;
  box-shadow: 1px 4px 11px 0px #b5b5b5;
}

.subscriptions {
  background-color: #0000004a;
}

.graytrain {
  filter: grayscale(1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.graytrain:hover {
  filter: grayscale(0);
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
